
html,
body,
#root {
    width: 100%;
    height:  100%;
    box-sizing: border-box;
    background: #fff;
    font-family: 'Roboto', sans-serif;
}

$theme: #f3a8d6;
//Root Container
.root-container {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.box-controller {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 24em;
    min-width: 21em;
    height: 35px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    margin-bottom: 30px;
    align-items: center;
    transition: visibility 0.5s ease-out;
    padding: 24px;
    
}

.controller {
    flex: 1;
    text-align: center;
    height: 100%;
    line-height: 2;
    cursor: pointer;
}

//Currently Selected Controller
.selected-controller {
    transition: border 0.5s ease-out;
    background-color: rgb(250, 250, 250);
    border-bottom: 2px solid $theme;
}
label{
    padding-bottom: 10px
}
.box-container {
    display: flex;
    flex-direction: column;
    max-width: 24em;
    min-width: 21em;
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    border-radius: 6px;
    padding: 24px;
    overflow-y: scroll;
}

.inner-container {
    transition: visibility 0.2s ease-out;
    
}

.inner-container.show {
    visibility: visible;
}

//Header
.header {
    text-align: center;
    padding: 5px;
    margin-bottom: 17px;
    /* margin-left: 35px; */
    /* margin-right: 35px; */
    font-family: Ozxgen, sans-serif;
    font-size: 22px;
    border-bottom: 2px solid #f3a8d6;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

//Label
.login-label {
    font-family: Oxygen, sans-serif;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}

//Input
.login-input {
    height: 2.1em;
    border-radius: 3px;
    border: 1px solid $theme;
    transition: border 0.4s ease-out;
    padding: 5px;
    font-family: Oxygen, sans-serif;
    font-size: 19px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
    border: 2px solid $theme;
}

.login-input:focus {
    border: 2px solid #f3a8d6;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

//Input Placeholder
.login-input::placeholder {
    font-family: Oxygen, sans-serif;
    font-size: 16px; //color: rgba(46, 213, 116, 0.839);
    color: rgba(15, 15, 15, 0.4);
}

.login-btn {
    padding: 2px 30px;
    /* background-color: #417cef; */
    border: 0;
    font-size: 18px;
    border-radius: 3px;
    font-family: Oxygen, sans-serif;
    background-color: rgba(15, 15, 15, 0.03);
    margin-top: 20px;
    border: 2px solid #f3a8d6;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
    background-color: #f3a8d6;
    color: white;
}

.danger-error {
    color: #e74c3c;
    font-size: 16px;
}

//Password
.password-state {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.pwd {
    height: 6px;
    flex: 1;
    visibility: hidden;
}

.pwd-weak {
    background-color: #e74c3c;
}

.pwd-medium {
    background-color: #3498db;
}

.pwd-strong {
    background-color: #2ecc71;
}

.show {
    visibility: visible;
}


select {
    position: relative;
    background: transparent;
    background-image: none;
    display: block;
    width: 100%;
    outline: none;
    color: #888888;
    cursor: pointer;
    z-index: 2;
    border: none;
    padding: 10px 10px 10px 5px;
    font-family: Oxygen, sans-serif;
    font-size: 19px;
    border: 1px solid $theme;
    
    
    // This is so hacky.. (for Firefox)
    // Removes the default select arrow.
    text-overflow: '';
    text-indent: 5px;    
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 5px;
    border-top: 2px solid #f3a8d6;
    border-bottom: 2px dotted #f3a8d6;
    
}

.nav-btn{
    font-family: 'Roboto', sans-serif;
    outline:none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius:10px;
    background: #fff;
    // border: 2px solid #000000;
    
    color:#000000;
    letter-spacing:1px;
    text-shadow:0;
    font-size:12px;
    &:hover {
        color:black;
        background: rgb(249, 249, 249);
        border: 1px solid #000000;
      }
      &:active {
        //letter-spacing: 2px;
        letter-spacing: 2px ;
      }
      &:after {
        content:"";
      }
}

.btn{
    font-family: 'Roboto', sans-serif;
    outline:none;
    height: 30px;
    text-align: center;
    width: 70px;
    border-radius:20px;
    background: #fff;
    border: 2px solid #000000;
    color:#000000;
    letter-spacing:1px;
    text-shadow:0;
    font-size:12px;
    &:hover {
        color:black;
        background: rgb(249, 249, 249);
        border: 1px solid #000000;
      }
      &:active {
        //letter-spacing: 2px;
        letter-spacing: 2px ;
      }
      &:after {
        content:"";
      }
}

.help-block{
    font-family: 'Roboto', sans-serif;
    color: #e73e3b;
}
.Spost{
    height: 1em;
    border-radius: 3px;
    border: 1px solid $theme;
    transition: border 0.4s ease-out;
    padding: 5px;
    font-family: Oxygen, sans-serif;
    color: #3e3e42;

}

.Sselect {
    position: relative;
    background: transparent;
    background-image: none;
    display: inline-blockl;
    width: 100%;
    outline: none;
    color: #888888;
    cursor: pointer;
    z-index: 2;
    border: none;
    padding: 10px 10px 10px 5px;
    font-family: Oxygen, sans-serif;
    font-size: 14px;
    border: 1px solid $theme;
    
    
    // This is so hacky.. (for Firefox)
    // Removes the default select arrow.
    text-overflow: '';
    text-indent: 5px;    
}
.search-input {
    height: 1.6em;
    width: 100%;
    border-radius: 3px;
    border: 1px solid $theme;
    transition: border 0.4s ease-out;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Oxygen, sans-serif;
    font-size: 19px;
    color: #3e3e42;
    background: rgba(15, 15, 15, 0.01);
}

.search-input:hover {
    border: 2px solid $theme;
}

.search-input:focus {
    border: 2px solid #f3a8d6;
    box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

//Input Placeholder
.search-input::placeholder {
    font-family: Oxygen, sans-serif;
    font-size: 16px; //color: rgba(46, 213, 116, 0.839);
    color: rgba(15, 15, 15, 0.4);
}

