.titleBar {
    background-color: #f7ccf4;
    display: block;
    color: #fff;
    padding-left: 16px
  }
  .loginBG{
    background-color: #f7ccf4;
  }
  .App {
    text-align: center;
    font-family: Ozxgen, sans-serif;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  textarea
{
  width:100%;
  height: 75px;
  resize: none; 

}
  .App-textarea {
    /* border:1px solid #999999; */
    margin:5px 5px;
    padding:3px 3px;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .tutorHeader{
    vertical-align:center;
  }